$primary-color: rgb(90,89,28);
$secundary-color: rgb(224,124,31);
$tertiary-color: rgb(226, 226, 154);
$quaternary-color:orange;
$primary-text-color: rgb(63,38,1);
$font-stack: 'IBM Plex Sans', 'sans-serif';
$paragraph-size: 1,5em;

@mixin flexCenter($direction,$content,$align){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}
@mixin buttonStyle{
    button {
        background: none;
        border-style: none;
    }
}
body{
    background-color: rgb(241,208,115);
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}
nav{  
    width: auto;  
    display: flex;  
    justify-content: space-evenly;  
    color:$primary-text-color;  
    padding: 15px;  
    p{    
        font-size: 1.5;    
        padding-right: 100px ;
        margin-right: 80%;
    }
    .icons{
        display: flex;
        gap: 15px;
        @include buttonStyle();
    .icon-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
       @include flexCenter(column,flex-end,stretch);
        background-color: $primary-color;
        svg{
            fill: $secundary-color;
            stroke: $quaternary-color;
            stroke-width: 2;
            margin-right: auto;
        }
    }
    }
}
article{  
    width: auto;  
    color:$primary-text-color;  
    background-color: rgb(241,208,115);
    @include flexCenter(row,space-between,center);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    .info-section{   
        display: flex;    
        flex-direction: column;     
        padding-top: 50px,;    
        gap: 25px; 
         
    }
    .image-section{
        width: auto;
        background-color: rgb(241,208,115);
        padding-left: 50px;
    }
    h1{    
        font-size: 3em;    
        padding: 0px;    
        margin: 0px;  
    }  
    p{    
        font-size:$paragraph-size;  
    }
    
    button{
        width: 12vw;     
        padding: 20px;   
        background-color: rgb(241,208,115);    
        background: none;    
        border-style: none;    
        border-radius: 35px;    
        color:white;    
        font-size: 1em;
    }  
    img{    
        width: 25vw;    
        border-radius: 19px
        }
}
section{
    width: 100%;     
    height: auto;   
    background-color:rgb(214, 201, 176);    
    padding: 60px; 
    h2{
        color:$primary-text-color;
        font-size: 2em;
    }
    .seccion1{
        h2{
            font-weight: 300;
            padding-bottom: 60px;
        }
        .cart-section{
            display: flex;
            width: auto;
            height: auto;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 200px;
            row-gap: 200px;
        }
        .product-cart {
            width: 14vw;
            height: 45vh;
            background-color: $secundary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            .icons {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg {
                    width: 28px;
                    height: 28px;
                    stroke: olive;
                    stroke-width: yellow;
                }
            }
            .product-image {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 12vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }
    .seccion2{
        @extend .seccion1;
            .product-cart{
                background-color: $tertiary-color;
                color: rgb(37, 51, 12);
            }
    }
}          
main{
    background-color: $primary-color;
}
footer{
    $background: rgb(199, 116, 20);
    background-color: $background;
    width: 100%;
    height: 250px;
}
