.card-product-container{
    margin: 5vh auto;
}
.car-product{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.car-product img{
    margin-top: 40px;
    width: 250px;
    height: 250px;
}
.car-product button{
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #1bcb7f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}
.car-product button:hover{
    opacity: 0,7;
}

/*modal*/
.modal-overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal-container{
    display: none;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    z-index: 1;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-close{
    float: right;
    cursor: pointer;
}
.modal-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}