.card-products-container{
    margin: 5vh auto;
}
.card-products{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-products img{
    margin-top: 40px;
    width: 250px;
    height: 250px;
}
.card-products button{
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #1bcb7f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}
.card-products button:hover{
    opacity: 0.7;
}
.cart-btn{
    position:fixed;
    top:90vh;
    right:40px;
    background-color: rgb(25,25,25);
    padding: 10px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    transition: transform 0.2s ease-in-out;
}

/*modal*/
.modal-overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal-container{
    display: none;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    z-index: 1;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-close{
    float: right;
    cursor: pointer;
}
.modal-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
/*modal-body*/
.modal-body {
    margin-bottom: 20px;
    text-align: center;
}    

.product{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.product-img{
    height: 80px;
    margin-right: 20px;
    width: 80px;
}
.product-info{
    flex: 1;
    text-align:left;
}
.product-info h4{
    margin-top: 35px;
}
.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 4em;
}
.quantity-btn-decrese,
.quantity-btn-increse{
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    width: 28px;
    font-weight: bold;
}
.quantity-input{
    color:#333333;
    font-size: 16px;
    padding: 10 10px;
    text-align: center;
    width: 50px;
    font-weight: bold;
}
@media only screen and (max-width: 500px) {
    .product-img {
        display: none;
    }
    .modal-body {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.delete-product {
    margin-top: 20px;
    margin-left: 2em;
    cursor: pointer;
}

.modal-footer {
    text-align: center;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}