body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,92,0.9528186274509804) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #f8f8f8, #e0e0e0);
    opacity: 0.5;
    z-index: -10;
}

.container {
    max-width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5 10px 20px rgba(190, 23, 23, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
}

.formulario label {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #555;
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.formulario button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.formulario button[type="submit"]:hover {
    background-color: #0056b3;
}

.enlace {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.chat-btn {
    background-color: #00cc66;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.chat-btn:hover {
    background-color: #00b359;
}


